[Service]
WorkingDirectory=/home/pi/Documents/garage-door/node
ExecStart=/usr/bin/npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=GarageRest
User=pi
Group=pi
Environment='NODE_ENV=production'
Environment='PORT=8080'

[Install]
WantedBy=multi-user.target

