.widgets {
    list-style-type: none;
    padding: 0;
}

.status {
    color: lightslategrey;
    padding: 5pt 0;
}

.warn .status  {
    color: darkorange;
}

.icon {
    color: lightslategrey;
    text-align: center;
}

.warn .icon  {
    color: orange;
}

.inline {
    margin: 10pt;
    display: inline-block;   
}

.badge {             
    width: 60px;       
}

li {
    padding: 10px;
}