<md-toolbar color="primary">
    Accessory
</md-toolbar>
<ul class="widgets">
    <li *ngFor="let widget of widgets">
        <md-card (click)="onSelect(widget)">
            <div [class.warn]="widget.state === widget.warnUserState">
                <i class="inline fa fa-3x badge icon" [ngClass]="setCardIconClass(widget)" aria-hidden="true"></i>
                <div class="inline">
                    <div class=".md-body-2">{{widget.nameLabel}}</div>
                    <div class=".md-body-1 status">{{widget.stateLabel}}</div>
                </div>
            </div>
        </md-card>
    </li>
</ul>

<div class=".md-body-2">{{getHumanizeLastUpdated()}}</div>