.status {
    color: lightslategrey;
    padding: 5pt 0;
}

.warn .status  {
    color: darkorange;
}

.icon {
    color: lightslategrey;
}

.warn .icon  {
    color: orange;
}

.badge {        
    margin: 10pt;
    display: inline-block;           
}