<md-toolbar color="primary">
    Accessory
</md-toolbar>

<div *ngIf="garage">
    <md-card (click)="onSelect()">
        <div [class.warn]="garage.isOpen === true">
            <i class="fa fa-car fa-3x badge icon" aria-hidden="true"></i>
            <div class="badge">
                <div class=".md-body-2">Garage</div>
                <div class=".md-body-1 status">{{getGarageStateLabel()}}</div>
            </div>
        </div>
    </md-card>
    <div class=".md-body-2">{{getHumanizeLastUpdated()}}</div>
</div>